numpy==1.26.4
pandas==1.5.3
scipy==1.15.3
scikit-learn==1.7.2
xgboost==3.2.0

opencv-contrib-python==4.10.0.84
pillow==9.4.0
mediapipe==0.10.14
protobuf>=4.25.3,<5

plotly==7.0.0
fpdf2==2.8.8
joblib==1.5.3
pyreadstat>=1.2.0
pyarrow==14.0.2
streamlit>=1.32.0,<1.35.0
